[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/mintyfresh/Downloads/TradingBotOanda.ipynb
Type=Link
URL=file:///home/mintyfresh/Downloads/TradingBotOanda.ipynb
Icon=application-x-ipynb+json
